@model IEnumerable<Proj_BOL.tbl_Opportunity>

@{
    ViewBag.Title = "Index";
}

<h2>Opportunity</h2>

@foreach (var item in Model)
{
    
    <div class="well">
        <h3>
            <strong><a target="_blank" href=@item.Oppor_Name>@item.Oppor_Name</a></strong>
                     @*@Html.DisplayFor(modelItem => item.Oppor_Name)*@
                   @Html.DisplayFor(modelItem => item.Oppor_Description)
            <span class="pull-right label label-primary">
                @Html.DisplayFor(modelItem => item.Oppor_Dateofevent)
            </span>
        </h3>
    </div>

        }
@{
    double TotalPage = @ViewBag.TotalPages;
}
@for (int i = 1; i <= TotalPage; i++)
{
    <a>@i  </a>
}